.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.form{
    margin-inline: auto;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
}

.form h1{
    align-self: flex-start;
    margin-bottom: 1rem;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;

}

.form_inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 1.5rem;
}

.form_inputs input{
    background: #F1F1F1;
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    padding: 1rem;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.63px;

}

.policy_chk_box{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .3rem;
    margin-bottom: 4rem;
}

.policy_chk_box input{
    width: 22px;
    height: 22px;
    border-radius: 1px;
}

.btn{
    width: 100%;
    height: 50px;
    color: #fff;
    border-radius: 12px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: center;

}

.or{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.or span{
    width: 40%;
    border-bottom: 1.5px solid #7F7F7F;
}

.social_links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social_links span{
    border: 1px solid #7F7F7F;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    gap: 0px;
    border-radius: 8px;

}

.facebook{
    color: #1A7AEB;
}

.haveAnACct{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    text-align: left;

}

@media screen and (max-width: 768px) {
    .form{
        width: 80%;
    }

        
    .form_inputs{
        width: 100%;
    }

}
@media screen and (max-width: 450px) {
    .container{
        padding: 0;
    }
    .form{
        width: 100%;
    }
}