@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
 --skip-text-color: #9FB2FF;
 --splash_text_h3: #2C2B2B;
 --splash_text_content: #787878;
 --nextSplash-background: linear-gradient(to right, #D6DFFF, #849DFF);
 --form-button: linear-gradient(270deg, #7B91FF 0%, #95BEFF 100%);

}

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #FCFCFC;
  font-family: Montserrat;
}

.main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

a{
  color: var(--skip-text-color);
}

.submitBtn{
  background: var(--form-button);
  border: none;
  outline: none;
}